*{
   margin-top: 20px;
  
}

.container{
    background-color:rgb(255, 157, 157);
    text-align: center;
     width: 100%;
     height: 100%;
    }

#todoInput{
    margin-top: 20px;
    background-color:rgb(255, 255, 255);
    padding: 8px;
}

.container button{
    margin: 15px;
    margin-bottom: 20px;
}



h1{
    background-color: rgb(201, 197, 197);
    padding: 24px;
    text-align: center;
}

ol{
    width: 100%;
    height: 100%;
     margin-left: 20%;
}

li{
   font-weight: bold;
   width: 50%;
   height: 100%;
}